.button {
   background-color: rgb(0, 152, 223); /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 40px;
   margin: 4px 2px;
   cursor: pointer;
   min-width: 115px;
 }
